<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<title>Password Guesser</title>
    	<meta name="viewport" content="width=device-width,initial-scale=1">
    	<script src="https://unpkg.com/vue/dist/vue.js"></script>
    	<!-- <link href='/static/css/bootstrap.min.css' rel='stylesheet'>
    	<link href='/static/images/favicon.ico' rel='shortcut icon'> -->
		<link href="/static/images/favicon.ico" rel="shortcut icon">
	</head>
	<header>
	    <!-- 
	    <div class="navbar-header">
      		<a class="navbar-brand" href="#">Brand</a>
    	</div>
    	
    	<ul class="nav nav-pills">
 			<li role="presentation" class="active"><a href="#">Home</a></li>
  			<li role="presentation"><a href="#">Profile</a></li>
  			<li role="presentation"><a href="#">Messages</a></li>
		</ul>
		-->
	</header>
	<body>	
	{% extends 'bootstrap/base.html' %}
	{% import 'bootstrap/wtf.html' as wtf %}

	{% block content %}
	<div id="manageComponent" v-model="inputBar">
		{{ wtf.quick_form(passwordguesserform)}}	
	<p></p> 
	<span>
<button v-on:click="addPossibleComponent">Add Component</button>
	</span> 
	<br><br> 
<!--	<span>
	<input v-model="deleteBar"> <button v-on:click="removeComponent">Remove Component</button>
	</span> 
	<span><button v-on:click="reverseMessage">Review all Components</button>
	</span> 
	<br><br> 
	<p>Generate new combination</p> 
	<span><button v-on:click="reverseMessage">Generate</button>
	</span> 
	<br><br> 
	<p>Mark Correct password!!</p> 
	<span><button v-on:click="reverseMessage">This is it!!</button>
	</span> 
	<br><br> 
	<p>No it actually was not</p> 
	<span><button v-on:click="reverseMessage">Wasn't right</button>
	</span> 
	<br><br> 
	<p>Wrong and Keep going</p> 
	<span><button v-on:click="reverseMessage">Nah, next</button>
	</span> 
	<br><br> 
	<p>Undo</p> 
	<span><button v-on:click="reverseMessage">No, Go Back</button>
	</span>
	<br><br> 
	<p>Redo</p> 
	<span><button v-on:click="reverseMessage">Redo</button>
	</span>
	</div>
-->
	<script>
	var manageComponent = new Vue({
		el: '#manageComponent',
		data:{
			inputBar: 'Input a possible component',
			deleteBar: 'Remove a component'
		},
		methods:{
			addPossibleComponent: function (){
				pass
			},
			removeComponent: function (){
				pass
			},
			reviewComponents: function (){
				<!--pop up a chart of added components -->
				pass
			}
		}
	})
	</script>
	{% endblock %}
</body></html>